<launch>

<rosparam file="$(find IRB1200_5-90-STD_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="IRB1200_5-90-STD" args="joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/IRB1200_5-90-STD/joint_states"/>
</node>

</launch>