<launch>

<rosparam file="$(find IRB52_long_T00F81B51V41H61_rev1_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="IRB52_long_T00F81B51V41H61_rev1" args="j1_position_controller j2_position_controller j3_position_controller j4_position_controller j5_position_controller j6_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/IRB52_long_T00F81B51V41H61_rev1/joint_states"/>
</node>

</launch>