<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find CRB1920_30kg-1350_OmniCore_rev00_Assembly_description)/urdf/CRB1920_30kg-1350_OmniCore_rev00_Assembly.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model CRB1920_30kg-1350_OmniCore_rev00_Assembly"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
