<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find IRB52_7-1.2-Short_description)/urdf/IRB52_7-1.2-Short.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model IRB52_7-1.2-Short"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
