<?xml version="1.0" ?>
<robot name="RS015X-B001" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find RS015X-B001_description)/urdf/materials.xacro" />
<xacro:include filename="$(find RS015X-B001_description)/urdf/RS015X-B001.trans" />
<xacro:include filename="$(find RS015X-B001_description)/urdf/RS015X-B001.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.0005508513469321632 -0.0732892090959647 0.11097738677694868" rpy="0 0 0"/>
    <mass value="296.3817236704826"/>
    <inertia ixx="7.597143" iyy="4.224745" izz="9.154713" ixy="-0.042944" iyz="-0.075295" ixz="0.002879"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RS015X-B001_J1_1">
  <inertial>
    <origin xyz="0.004965441402646918 0.025552177748536974 0.21422923584206266" rpy="0 0 0"/>
    <mass value="461.12398981682077"/>
    <inertia ixx="17.339419" iyy="17.989401" izz="15.090219" ixy="0.256969" iyz="-3.52439" ixz="1.838189"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -0.249" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -0.249" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RS015X-B001_J2_1">
  <inertial>
    <origin xyz="0.14754309170902224 0.010069026320209007 0.5023312432082075" rpy="0 0 0"/>
    <mass value="412.89081962234826"/>
    <inertia ixx="87.417192" iyy="86.624698" izz="3.488884" ixy="-0.011981" iyz="0.539362" ixz="-5.071505"/>
  </inertial>
  <visual>
    <origin xyz="-0.035 -0.15 -0.68" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.035 -0.15 -0.68" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RS015X-B001_J3_1">
  <inertial>
    <origin xyz="-0.1598376875364936 0.021910322498541634 0.025070460418969764" rpy="0 0 0"/>
    <mass value="238.9958582792771"/>
    <inertia ixx="3.961173" iyy="4.418874" izz="3.523884" ixy="0.172173" iyz="0.168487" ixz="-0.308256"/>
  </inertial>
  <visual>
    <origin xyz="-0.122 -0.15 -1.83" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.122 -0.15 -1.83" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RS015X-B001_J4_1">
  <inertial>
    <origin xyz="8.626315512165041e-06 -6.769897240022082e-07 0.7153251618280967" rpy="0 0 0"/>
    <mass value="175.8337733882442"/>
    <inertia ixx="40.732995" iyy="40.782695" izz="0.462045" ixy="-3e-06" iyz="7.1e-05" ixz="0.002182"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.15 -2.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.15 -2.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RS015X-B001_J5_1">
  <inertial>
    <origin xyz="0.042000231678236556 8.398836757281258e-05 0.019821493562296677" rpy="0 0 0"/>
    <mass value="6.633599900730962"/>
    <inertia ixx="0.012224" iyy="0.012522" izz="0.008178" ixy="0.0" iyz="-1.2e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.042 -0.15 -3.68" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.042 -0.15 -3.68" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RS015X-B001_J6_1">
  <inertial>
    <origin xyz="-0.0002649281091214095 3.3666399811643766e-05 0.0063710105284315866" rpy="0 0 0"/>
    <mass value="0.39757123901471203"/>
    <inertia ixx="0.000155" iyy="0.000156" izz="0.000299" ixy="-1e-06" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-1e-06 -0.15 -3.761" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1e-06 -0.15 -3.761" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://RS015X-B001_description/meshes/RS015X-B001_J6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="j1" type="continuous">
  <origin xyz="0.0 0.0 0.249" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RS015X-B001_J1_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="j2" type="continuous">
  <origin xyz="0.035 0.15 0.431" rpy="0 0 0"/>
  <parent link="RS015X-B001_J1_1"/>
  <child link="RS015X-B001_J2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="j3" type="continuous">
  <origin xyz="0.087 0.0 1.15" rpy="0 0 0"/>
  <parent link="RS015X-B001_J2_1"/>
  <child link="RS015X-B001_J3_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="j4" type="continuous">
  <origin xyz="-0.122 0.0 0.27" rpy="0 0 0"/>
  <parent link="RS015X-B001_J3_1"/>
  <child link="RS015X-B001_J4_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="j5" type="continuous">
  <origin xyz="-0.042 0.0 1.58" rpy="0 0 0"/>
  <parent link="RS015X-B001_J4_1"/>
  <child link="RS015X-B001_J5_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="j6" type="continuous">
  <origin xyz="0.042001 0.0 0.081" rpy="0 0 0"/>
  <parent link="RS015X-B001_J5_1"/>
  <child link="RS015X-B001_J6_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

</robot>
