<launch>

<rosparam file="$(find IRB14050_SAYuMi_-_rev00_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="IRB14050_SAYuMi_-_rev00" args="j1_position_controller j2_position_controller j3_position_controller j4_position_controller j5_position_controller j6_position_controller j7_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/IRB14050_SAYuMi_-_rev00/joint_states"/>
</node>

</launch>