<?xml version="1.0" ?>
<robot name="IRB2600ID_15kg-185" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find IRB2600ID_15kg-185_description)/urdf/materials.xacro" />
<xacro:include filename="$(find IRB2600ID_15kg-185_description)/urdf/IRB2600ID_15kg-185.trans" />
<xacro:include filename="$(find IRB2600ID_15kg-185_description)/urdf/IRB2600ID_15kg-185.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.09299244505879704 0.00040023906755372736 0.09590244830640034" rpy="0 0 0"/>
    <mass value="250.4884403422575"/>
    <inertia ixx="3.308396" iyy="6.826966" izz="8.611106" ixy="0.029678" iyz="0.002181" ixz="0.180461"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="IRB2600ID_15kg-185_LINK1_CAD_rev02_v1_1">
  <inertial>
    <origin xyz="0.043083885652768904 0.007026630410738739 0.15972284536270456" rpy="0 0 0"/>
    <mass value="187.86725665499122"/>
    <inertia ixx="3.104491" iyy="4.749737" izz="4.49943" ixy="-0.075738" iyz="-0.046785" ixz="-0.326302"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.0 -0.23" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK1_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.0 -0.23" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK1_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="IRB2600ID_15kg-185_LINK2_CAD_rev02_v1_1">
  <inertial>
    <origin xyz="6.275263481947402e-05 -0.03213585968002136 0.415471282796332" rpy="0 0 0"/>
    <mass value="124.03750065172721"/>
    <inertia ixx="8.758155" iyy="8.909929" izz="0.379771" ixy="-2e-05" iyz="0.050576" ixz="0.002098"/>
  </inertial>
  <visual>
    <origin xyz="-0.15 0.1404 -0.445" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK2_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.15 0.1404 -0.445" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK2_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="IRB2600ID_15kg-185_LINK3_CAD_rev02_v1_1">
  <inertial>
    <origin xyz="0.0563703389625724 0.1798792055069683 0.05434613762841112" rpy="0 0 0"/>
    <mass value="159.92543067334384"/>
    <inertia ixx="2.142654" iyy="2.321458" izz="2.162664" ixy="0.065715" iyz="-0.055652" ixz="-0.484838"/>
  </inertial>
  <visual>
    <origin xyz="-0.15 0.15 -1.345" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK3_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.15 0.15 -1.345" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK3_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="IRB2600ID_15kg-185_LINK4_CAD_rev02_v1_1">
  <inertial>
    <origin xyz="0.24532603408551756 0.08349746886219284 -0.0011471616469593826" rpy="0 0 0"/>
    <mass value="68.10350222360685"/>
    <inertia ixx="0.279593" iyy="2.105488" izz="2.214658" ixy="-0.30185" iyz="0.002657" ixz="-0.007159"/>
  </inertial>
  <visual>
    <origin xyz="-0.388 0.0 -1.495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK4_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.388 0.0 -1.495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK4_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="IRB2600ID_15kg-185_LINK5_CAD_rev02_v1_1">
  <inertial>
    <origin xyz="0.05290222409863932 -0.0455460670779739 0.0004942889656127658" rpy="0 0 0"/>
    <mass value="7.160805065975411"/>
    <inertia ixx="0.014886" iyy="0.019781" izz="0.022502" ixy="0.00624" iyz="-4.2e-05" ixz="7.3e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.936 -0.07 -1.495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK5_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.936 -0.07 -1.495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK5_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="IRB2600ID_15kg-185_LINK6_CAD_rev02_v1_1">
  <inertial>
    <origin xyz="0.0025761845357172852 -0.0002005648999686859 -0.00041806036419900217" rpy="0 0 0"/>
    <mass value="0.6020799879469484"/>
    <inertia ixx="0.000998" iyy="0.000511" izz="0.000516" ixy="0.0" iyz="2e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-1.0605 -0.0 -1.495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK6_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.0605 -0.0 -1.495" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB2600ID_15kg-185_description/meshes/IRB2600ID_15kg-185_LINK6_CAD_rev02_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="j1" type="continuous">
  <origin xyz="0.0 0.0 0.23" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="IRB2600ID_15kg-185_LINK1_CAD_rev02_v1_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="j2" type="continuous">
  <origin xyz="0.15 -0.1404 0.215" rpy="0 0 0"/>
  <parent link="IRB2600ID_15kg-185_LINK1_CAD_rev02_v1_1"/>
  <child link="IRB2600ID_15kg-185_LINK2_CAD_rev02_v1_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="j3" type="continuous">
  <origin xyz="0.0 -0.0096 0.9" rpy="0 0 0"/>
  <parent link="IRB2600ID_15kg-185_LINK2_CAD_rev02_v1_1"/>
  <child link="IRB2600ID_15kg-185_LINK3_CAD_rev02_v1_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="j4" type="continuous">
  <origin xyz="0.238 0.15 0.15" rpy="0 0 0"/>
  <parent link="IRB2600ID_15kg-185_LINK3_CAD_rev02_v1_1"/>
  <child link="IRB2600ID_15kg-185_LINK4_CAD_rev02_v1_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="j5" type="continuous">
  <origin xyz="0.548 0.07 0.0" rpy="0 0 0"/>
  <parent link="IRB2600ID_15kg-185_LINK4_CAD_rev02_v1_1"/>
  <child link="IRB2600ID_15kg-185_LINK5_CAD_rev02_v1_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
</joint>

<joint name="j6" type="continuous">
  <origin xyz="0.1245 -0.07 0.0" rpy="0 0 0"/>
  <parent link="IRB2600ID_15kg-185_LINK5_CAD_rev02_v1_1"/>
  <child link="IRB2600ID_15kg-185_LINK6_CAD_rev02_v1_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

</robot>
