<?xml version="1.0" ?>
<robot name="IRB1200_5-90-STD" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find IRB1200_5-90-STD_description)/urdf/materials.xacro" />
<xacro:include filename="$(find IRB1200_5-90-STD_description)/urdf/IRB1200_5-90-STD.trans" />
<xacro:include filename="$(find IRB1200_5-90-STD_description)/urdf/IRB1200_5-90-STD.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.023637177591968993 0.00047544219762950214 0.11218867494644966" rpy="0 0 0"/>
    <mass value="83.56354769083484"/>
    <inertia ixx="0.579276" iyy="0.781207" izz="0.698188" ixy="0.004313" iyz="-0.001283" ixz="-0.005073"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB1200_5-90-STD_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://IRB1200_5-90-STD_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
